<footer>



    <div class="container-footer-all">
        <div class="container-body">
            <div class="column1">
                <h3>Donde Estamos</h3>
                <a href="#"><i class="fas fa-map-marker-alt"></i> Riohacha - La Guajira</a>



            </div>
            <div class="column2">
                <h3>Redes Sociales</h3>
                <div class="row">
                    <a href="#"> <i class="fab fa-youtube"></i> Siguenos en Youtube</a>
                </div>
                <div class="row">
                    <a href="#"> <i class="fab fa-github"></i> Siguenos en Github</a>
                </div>
                <div class="row">
                    <a href="#"> <i class="fab fa-facebook"></i> Siguenos en Facebook</a>
                </div>
                <div class="row">
                    <a href="#"> <i class="fab fa-twitter"></i> Siguenos en Twitter</a>
                </div>

            </div>
            <div class="column3">
                <h3>Ubicanos</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has

                </p>
            </div>


        </div>
        <div class="container-footer">
            <p>{{anio}} @Created by PharaohGhost7</p>
        </div>
    </div>




</footer>